/node_modules
/vendor
/storage/app/*
!/storage/app/.gitkeep
/storage/framework/*
!/storage/framework/sessions/
!/storage/framework/cache/
!/storage/framework/schedule-locks/
/storage/framework/sessions/*
!/storage/framework/sessions/.gitkeep
/storage/framework/cache/*
!/storage/framework/cache/compiled-views/
!/storage/framework/cache/static-views/
/storage/framework/cache/compiled-views/*
!/storage/framework/cache/compiled-views/.gitkeep
/storage/framework/cache/static-views/*
!/storage/framework/cache/static-views/.gitkeep
/storage/framework/schedule-locks/*
!/storage/framework/schedule-locks/.gitkeep
/storage/logs/*
!/storage/logs/.gitkeep
/public/build
webrium
composer.lock
package-lock.json
.env